* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.portfolio-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.title {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.informations {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.contacts img {
  width: 30px;
}

.other-contents {
  display: flex;
  flex-direction: column;
}

.my-image img {
  width: 300px;
  float: left;
}

.nav-links {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
}

.nav-links:hover {
  color: black;
  background-color: white;
}
