* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: var(--blue);
}

:root {
  --blue: #22333b;
  --almost-white: #eae0d5;
}

.logo {
  text-decoration: none;
}

.hamburguer {
  cursor: pointer;
  display: none;
}

.hamburguer div {
  width: 32px;
  height: 2px;
  margin: 8px;
  background: black;
  margin: 8px;
}

.portfolio-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.navigation,
.contacts {
  display: flex;
  gap: 40px;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation-link {
  text-decoration: none;
}

.navigation-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

.main-content {
  background-color: var(--almost-white);
  display: flex;
}

.informations {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: justify;
  justify-content: center;
}

.title {
  text-align: center;
}

.col {
  display: flex;
  background-color: var(--blue);
  color: white;
  align-items: center;
  justify-content: center;
}

.contato {
  background-color: var(--almost-white);
  display: flex;
}

.projetos {
  background-color: var(--almost-white);
}

.contatos {
  text-align: center;
  align-self: center;
}

.contato-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.contact-infoa {
  display: flex;
  gap: 10px;
}

.footer {
  text-align: center;
}

.tecnologias {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.copyright {
  text-align: center;
  font-style: italic;
}
