* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

:root {
  --blue: #22333b;
  --almost-white: #eae0d5;
}

body {
  background-color: var(--almost-white);
  color: var(--blue);
}

.portfolio-navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  margin: 10px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.contacts img {
  width: 20px;
}

.navigation-link {
  text-decoration: none;
  color: var(--blue);
  border-radius: 15px;
  padding: 20px;
}

.navigation-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--almost-white);
}

.main-all {
  margin: 15px;
}

.main-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.my-image img {
  width: 200px;
  border-radius: 35px;
}

.main-content,
.projetos,
.main-all,
.navigation-link:hover {
  background-color: var(--blue);
  color: var(--almost-white);
}

.projetos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.col {
  display: flex;
  height: 200px;
  background-color: var(--almost-white);
  color: var(--blue);
  border-radius: 35px;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  padding: 10px;
}
